auth_enabled: false

server:
  http_listen_port: 3100

common:
  ring:
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /loki

schema_config:
  configs:
    - from: "2024-01-01"
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/chunks

limits_config:
  allow_structured_metadata: true
  # Allow OTLP attributes to be used as stream labels
  otlp_config:
    resource_attributes:
      attributes_config:
        - action: index_label
          attributes:
            - service.name
            - deployment.environment
    log_attributes:
      attributes_config:
        # Promote traceId + spanId from log body to Loki stream labels
        # so derivedFields and trace correlation work
        - action: index_label
          attributes:
            - traceId
            - spanId
